################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Tests/bin/Debug
/Tests/obj/Debug
/TestResults
/packages/System.ValueTuple.4.5.0/ref
/packages/System.ValueTuple.4.5.0
/ObjectsLib/obj/Debug
/ObjectsLib/bin/Debug
/.vs/TwoLayersSolution/v15
